.car_place {
  opacity: 0.7;
  fill: green;
}
.park_left,
.park_right {
  opacity: 0.7;
  fill: blue;
}

.list_place {
  font-size: 1.5rem;
  text-align: center;
  height: 100%;
  padding: 0;
  width: 96%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-lg {
  font-size: 1.4rem;
  padding: 0.5rem;
  margin-left: 1rem;
  border: 1px solid black;
  border-radius: 0.3rem;
  margin-bottom: 10rem;
  margin-top: 2.5rem;
  color: black;
}

.img-fluid {
  width: 700px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

@media (max-width: 764px) {
  .img-fluid {
    margin-top: 1rem;
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
  }
}
